<% @order.line_items.each do |details| %>
  <td> Thanks for your order</td>
    <tr>
      <td>
        <h4><%= details.product.name %></h4>
        <p><%= details.product.description %></p>
      </td>
      <td> <%= details.product.price %></td>
      <td> <%= details.quantity %> </td>
    </tr>
<% end %>