<section class="admin-products-index">
    <header class="page-header">
        <h1>Admin &raquo; All Categories</h1>
    </header>

    <div class="well">
    <%= link_to '+Add Category', [:new, :admin, :category]%>
    </div>

    <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead class="categries-head">
        <tr><th colspan="%100">Categories Available</th></tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>


</section>
